/* Creates the box for login box, and styling for it */
.login-container {
    /* Creates the box shape and size */
    border-style: solid;
    border-color: black;
    width: 47%;
    max-width: 19rem;
    min-height: 19rem;
    border-radius: 10%;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);

    /* Creates the spacing for items in box */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* Changes the login text position */
.login-text h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* fixes the hr bar under login */
.login-container hr {
    margin: 0 auto;
    margin-top: -1.5625rem;
    border-style: solid;
    color: white;
    width: 16rem;
}
/* username section  */
.username-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.username-div input {
    width: 11rem;
    padding: .5rem;
    border-radius: 5px;
    border-style: none;
    text-indent: 3px;
}
/* password section */
.password-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.password-div input {
    width: 11rem;
    padding: .5rem;
    border-radius: 5px;
    border-style: none;
    text-indent: 3px;
}
/* login button section */
.login-button-div {
    display: flex;
    justify-content: center;
}
.login-button-div button {
    background-color: brown;
    padding: .5rem;
    margin-top: -1.6px;
    border-radius: 5px;
    border-style: none;
    color: white;
    cursor: pointer;
}
.login-button-div button:hover {
    background-color: #de9848;
}