/* Inner scroll section that gives the data for people */
.scroll-box-container {
    width: 90vw;
    height: 38rem;
    overflow-y: scroll;
    box-sizing: border-box;
    border: 1px solid;
    padding: .3rem;
    border-radius: 5px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}
.scroll-box-container ul {
    list-style: none;
}
.scroll-box-container li {
    border-style: solid;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: .2rem;
    background-color: white;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pick-up-status {
    display: flex;
    gap: 1rem;
}
.scroll-box-container li:hover {
    list-style: none;
    background-color: lightgray;
}

